<div class="eu-spin">
  <img class="star star01" src="/images/star.svg">
  <img class="star star02" src="/images/star.svg">
  <img class="star star03" src="/images/star.svg">
  <img class="star star04" src="/images/star.svg">
  <img class="star star05" src="/images/star.svg">
  <img class="star star06" src="/images/star.svg">
  <img class="star star07" src="/images/star.svg">
  <img class="star star08" src="/images/star.svg">
  <img class="star star09" src="/images/star.svg">
  <img class="star star10" src="/images/star.svg">
  <img class="star star11" src="/images/star.svg">
  <img class="star star12" src="/images/star.svg">
  <div><div></div><div></div><div></div><div></div></div>
</div>
<script type="text/javascript">

  function Countdown() {
    this.date = new Date(Date.UTC(2016, 06, 18, 20, 00, 0)).getTime();
    this.interval = null;
    this.requestAnimationFrame = this.requestAnimationFrame.bind(this);
    this.targets = {};
    this.tick = this.tick.bind(this);
    this.curTick = false;
    this.start();
  }

  Countdown.prototype.constants = {
    day: (1000 * 60 * 60 * 24),
    hour: (1000 * 60 * 60),
    minute: (1000 * 60),
    second: (1000)
  };

  Countdown.prototype.requestAnimationFrame = function() {
    var request = window.requestAnimationFrame || setTimeout;
    request(this.tick);
  };

  Countdown.prototype.start = function() {
    this.stop();
    this.requestAnimationFrame();
    this.interval = setInterval(this.requestAnimationFrame, 60000);
  };

  Countdown.prototype.stop = function() {
    clearInterval(this.interval);
  };

  Countdown.prototype.tick = function() {
    var now = Date.now();
    var difference = this.date - now;

    this.updateDates(difference);

    if (difference < 0) {
      this.stop();
      this.render(0, 0, 0, 0);
      document.getElementById('remaining').textContent = '00.00:00:00';
    }
  };

  Countdown.prototype.updateDates = function(difference) {

    this.curTick = !this.curTick;
    var c = this.curTick;

    var days = Math.floor(difference / this.constants.day);
    difference -= days * this.constants.day;

    var hours = Math.floor(difference / this.constants.hour);
    difference -= hours * this.constants.hour;

    var minutes = Math.floor(difference / this.constants.minute);
    difference -= minutes * this.constants.minute;

    var seconds = Math.floor(difference / this.constants.second);
    difference -= seconds * this.constants.second;

    this.render(days, hours, minutes, seconds);
  };

  Countdown.prototype.render = function(days, hours, minutes, seconds) {
    var h1 = document.querySelector('h1'),
        components = h1.querySelectorAll('strong');

    if (components.length != 3)
      return false;

    components[0].textContent = days + (window.TEXT_DAYS || ' days');
    components[1].textContent = hours + (window.TEXT_HOURS || ' hours');
    components[2].textContent = minutes + (window.TEXT_MINUTES || ' minutes');
  }

  new Countdown();
</script>
