<div id="loader">
  <div class="spinner">
    <div class="blade d01"><div></div></div>
    <div class="blade d02"><div></div></div>
    <div class="blade d03"><div></div></div>
    <div class="blade d04"><div></div></div>
    <div class="blade d05"><div></div></div>
    <div class="blade d06"><div></div></div>
    <div class="blade d07"><div></div></div>
    <div class="blade d08"><div></div></div>
    <div class="blade d09"><div></div></div>
    <div class="blade d10"><div></div></div>
    <div class="blade d11"><div></div></div>
    <div class="blade d12"><div></div></div>
  </div>
</div>
